body{
    margin: 0;
    background-color: #253547;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
line-height:  25px;
}

header{
    background-color:#1b263b ;
    padding-top:10px;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 5px;
    box-shadow: 0px 35px 350px -35px rgba(28, 81, 141, 0.842);
}

header img {
    width: 400px;
    height: 330px;
    object-fit: cover;
    text-align: right;
    border-radius: 220px;
    box-shadow: 2px 10px 8px rgba(28, 81, 141, 0.842);
    margin-top: 5px;
margin-bottom: 10px;
}

header h1 {
    color: whitesmoke;
    font-style: italic;
   margin-top: 30px;
   font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
a:link{
    text-decoration: none;
}
a:hover{
    color: rgb(19, 2, 255);
    text-decoration: underline;
}
a:visited{
    color: whitesmoke;
    text-decoration: underline;
}
 header nav{
     marker:initial;
     text-align: Right;
     margin-right:  30px;
     font-size: 25px;
     text-shadow: rgb(255, 255, 255);
     margin-bottom: 10px;
 }

main{
max-width: 800px;
text-align: center;
margin: 0 auto;

}

main img, iframe{
    width: 100%;
}
.img1_p{
    margin-top: -10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;
}
 .story, .persona, .video{
    color:rgb(235, 235, 235);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
   font-size: 30px;
    margin-top :50px;
    
}

.storytext, li{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(199, 199, 199);

}

ol > li{ 
    list-style:none;
}

footer{
    background-color: #1b263b;
text-align: center;
color:whitesmoke;
padding: 10px;;
box-shadow: 0px 35px 350px 35px rgba(28, 81, 141, 0.842);
}

